{% extends 'main.html' %}
{% block title %} Generate {% endblock %}
{% block content %}

<div class="container">
    <h1>Microservice!</h1>

    <div class="row">
        <form action="/microserv/{{temperature}}" method="POST" class="column column-40">
            <fieldset>
                <blockquote>
                    <p><em>{{date}}</em></p>
                </blockquote>
                <blockquote>
                    <p><em>{{temperature}}</em></p>
                </blockquote>
                <input type="submit" value='Save'>
            </fieldset>
        </form>
    </div>

    {% with messages = get_flashed_messages()%}
    {% if messages%}
    {% for message in messages%}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% if data %}
    <table>
        <thead>
            <tr>
                <th>TimeStamp</th>
                <th>Temperature</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data%}
            <tr>
                <td>{{i.1}}</td>
                <td>{{i.2}}</td>
                <td>
                    <a href="/delete\{{i.0}}">Delete</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {% else %}
    <blockquote>
        <p><em>Database is empty... <strong>Please fill it</strong></em></p>
    </blockquote>
    {% endif %}
</div>
{% endblock %}